{% macro translations_for(article) %}
    {% if article.translations %}
        {% set translations = [] %}
        {% for translation in [article] + article.translations %}
            {% set lang = translation.lang or DEFAULT_LANG %}
            {% set is_altlang = lang != DEFAULT_LANG %}
            {% set is_active = lang == (article.lang or DEFAULT_LANG) %}
            {% set linksrc %}
                {{"[" if is_active}}<a href="{{SITEURL|escape}}/{{translation.url|escape}}" hreflang="{{lang|escape}}">{{lang|escape}}</a>{{"]" if is_active}}
            {% endset %}
            {% if translations.append((is_altlang, lang, linksrc)) %}{% endif %}
        {% endfor %}
        {% for _, _, linksrc in translations|sort %}
        {{linksrc}}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
    {% if entry.translations %}
        {% for translation in entry.translations %}
            <link rel="alternate" hreflang="{{translation.lang|escape}}" href="{{SITEURL|escape}}/{{translation.url|escape}}">
        {% endfor %}
    {% endif %}
{% endmacro %}
